# add git-ignore syntax here of things you don't want copied into docker image

.git
.results
scripts
*Dockerfile*
node_modules

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

.env

/mokuro

/shared/acme.json