services:
  next-mokuro-bookshelf:
    container_name: next-mokuro-bookshelf
    build:
      context: ./
      dockerfile: ./Dockerfile
      target: prod
    user: "1000"
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    env_file:
      - ./.env
    volumes:
      - ./src/public/images:/app/public/images

  db:
    image: groonga/pgroonga:latest-debian-16@sha256:a1eaf030a05b8522b5401c05d5d7e3f4fce15dd9e2135171e22e46ba61b00060
    restart: always
    env_file:
      - ./.env
    environment:
      POSTGRES_DB: default
    user: "1000"
    ports:
      - "5432:5432"
    volumes:
      - ./db:/var/lib/postgresql/data
